<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Perfil de Persona</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Datos de la Persona</h2>
  <ul>
    <li><strong>Nombres:</strong> {{ p[1] }}</li>
    <li><strong>Apellidos:</strong> {{ p[2] }}</li>
    <li><strong>Cédula:</strong> {{ p[3] }}</li>
    <li><strong>Fecha de Emisión:</strong> {{ p[4] }}</li>
    <li><strong>Cargo:</strong> {{ p[5] }}</li>
  </ul>
  <a href="{{ url_for('agregar_persona') }}">Volver</a>
</body>
</html>

